/* 
    Created on : 21-10-2014, 13:59:57
    Author     : heka
*/
/* Default Media Queries */
.mob, .dskmob { display: block; }
.dsk, .dsktab { display: none; } 
@media screen and (min-width: 768px) { 
    .tab, .dsktab { display: block; }
    .mob, .dskmob { display: none; }
}
@media screen and (min-width: 1024px) {
    .dsk, .dsktab, .dskmob { display: block; }
    .mob, .tab { display: none; }
}

html, body {
    height:100%;
}

* {
    font-family: Trebuchet MS;
    font-size: 10pt;
}

body { 
    margin: 0px; 
    display: none; 
    background-color: #efefef; 
}

.navbar a {
    color: #000;
}

.mainwrapper { 
    width: 100%; 
    max-width: 960px; 
    margin: 50px auto 0 auto; 
    background-color: #fff; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    min-height: 500px; 
}

.mainheader { 
    overflow-y: auto; 
    border-bottom: dotted 1px #ccc; 
    margin-bottom: 20px;
}

.buttonpanel { 
    float: right !important; 
    margin-bottom: 10px; 
}

.btn { 
    margin-left: 5px; 
}

.btn-file { 
    float: right; 
}

.error { 
    color: #c00; 
    padding-top: 5px; 
    padding-left: 10px; 
    font-weight: normal; 
}

.dimmed { 
    color: #999 !important; 
} 

.active {
    color: #090 !important;
}

.paused {
    color: #900 !important;
}

/* Headers */
h1 { 
    font-size: 14pt; 
    margin: 0px 0px 5px 0px; 
    color: #000; 
    font-weight: bold; 
}

h2 { 
    font-size: 11pt; 
    margin: 10px 0px 15px 0px; 
    color: #000; 
    font-weight: bold; 
}

/* Tables */
table { 
    width: 100%; 
    border: solid 1px #ccc; 
    margin-bottom: 15px; 
}

table.table-details tr td:first-child { 
    width: 10%; 
    white-space: nowrap; 
}

table.inline { 
    width: auto; 
    border: solid 1px #ccc; 
}

th { 
    text-align: left; 
    background-color: #3c3c3c !important; 
    color: #fff; 
    white-space: nowrap; 
}

th:first-child { 
    width: 10%; 
}

.no-opt-table th:first-child { 
    width: 20%; 
}

td, th { 
    padding: 6px; 
    vertical-align: top; 
}

th span {
    margin-right: 3px;
}

th a {
    border-left: solid 3px transparent;
    border-right: solid 3px transparent;
    display: block;
    width: 0px;
    height: 0px;
    float: left;
    margin-left: 1px;
    margin-top: 6px;

}

th a:first-of-type {
    border-top: solid 6px #999;
}

th a:last-of-type {
    border-bottom: solid 6px #999;
}

th a.sorted:first-of-type {
    border-top: solid 6px #fff;
}

th a.sorted:last-of-type {
    border-bottom: solid 6px #fff;
}


tr:hover { 
    background-color: #ddd !important 
}

.online {
    color: #000;
    font-weight: bold;
}

.offline {
    color: #999;
}

/* Form Adds */

.required:after { 
    content: "*"; color: #900; 
}

.form-horizontal .control-label { 
    text-align: left; 
}

select[name=iLangID] { 
    width: 120px; 
    float: right; 
}

select[name*=Sort] { 
    width: 50px; 
    float: right;
    padding: 0px;
    font-size: 11px;
    height: 20px;
}

.dateselector { 
    width: auto !important; 
    display: inline-block; 
}

.texteditor { 
    min-height: 400px;
}

textarea {
    min-height: 200px;
}

textarea.small {
    min-height: 100px;
}

.table-details img {
    max-width: 100%;
}

/* Font Awesome */
.fa, td a { 
    color: #000; 
}

.icon, .dimmed { 
    cursor: pointer;
    font-size: 11pt;
}

.icon:hover, td a:hover { 
    color: #c00; 
    text-decoration: none;
}

header .fa { 
    margin-top: 6px;
    padding: 10px 12px;
}

.dimmed { 
    color: #999; 
}

.nonactive {
    color: #F00;
}

.active {
    color: #0c0;
}

.inputerr {
    margin: 10px 10px;
}

/* Login Window */
#login { 
    display: block; 
    background: #333 url(/cms/assets/images/denim.png); 
    padding: 2%; 
}

#login>div { 
    width: 100%; 
    max-width: 400px; 
    padding: 20px 0px; 
    background: #fff; 
    border-radius: 10px; 
    border: solid 3px #333; 
    margin: 0 auto; 
    box-shadow: 2px 2px 6px #333; 
    margin-top: 10%;
    overflow-y: auto;
}

#login #logo { 
    text-align: center; 
    float: none;
}

#errormsg {
    margin: 0 12%;
    width: 76%;
}

#login .form-group { 
    margin: 15px auto; 
    width: 80%; 
    max-width: 300px; 
}

.texteditor .tooltip { 
    font-weight: normal;
}

.monospace {
    font-family: monospace;
    font-size: 10pt;
}

/* File Editor */


.filename {
    float: left;
}

#fileeditor .modal-body, #topicpicker .modal-body {
    min-height: 400px;
} 

.editor-ico {
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 4px;    
}

#fileview, #topicsview {
    max-height: 400px;
    overflow-y: scroll;
}

.imgfile {
    width: 120px;
    height: 120px;
    float: left;
    margin-left: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    cursor: pointer;
}

.imgfile > div:first-of-type {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border: solid 1px #000;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.imgfile img {
    width: 96%;
    max-width: 100%;
    max-height: 100%; 
}

.imgfile input {
    visibility: hidden;
    position: absolute;    
}

.imgfile > input:checked + div:first-of-type {
    border: solid 2px #F00;
    opacity: 1;
}

.imgfile div:last-of-type {
    width: 120px;
    height: 22px;
    padding: 3px;
    border-top: solid 1px #900;
    background: #000;
    opacity: 0.9;
    transition: 0.1s ease-in;
    text-align: right;
}

.imgfile:hover div:last-of-type {
    position: relative;
    margin-top: -22px;
    
}

.imgfile i {
    float: right;
    margin-right: 7px;
    color: #fff;
}

.imgfile i:hover {
    color: #f00;
}

label.docfile {
    display: block;
}

.docfile {
    cursor: pointer;
    clear: left;
    margin-bottom: 20px;
}

.docfile > div {
    float: left;
    font-weight: normal;
    margin-right: 12px;
}

.docfile input {
    visibility: hidden;
    position: absolute;    
}

.docfile > input:checked + div:last-of-type {
    font-weight: bold;
    color: red;
}

.docfile img {
    margin-right: 20px;
}


#uploadlist ol {
    margin-top: 8px;
    padding-left: 20px;
}

.imgview {
    max-width: 100%;
}

/* Foldertree */

ul.foldertree {
    font-family: verdana, sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding: 0;
    margin: 0;
}
ul.foldertree li {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    white-space: nowrap;
}
ul.foldertree li.directory {
    background: url(/cms/assets/images/foldertree/directory.png) left top no-repeat;
}
ul.foldertree li.expanded {
    background: url(/cms/assets/images/foldertree/folder_open.png) left top no-repeat;
}

ul.foldertree a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 0 2px;
    cursor: pointer;
}
ul.foldertree a:hover {
    background: #bdf;
}

ul.foldertree li.selected>a {
    font-weight: 700;
}

/* Mandotree */
#menutree {
    border-right: solid 1px #000;
    width: 200px;
    min-height: 400px;
    height: 100%;
    float: left;
    overflow-x: scroll;
    margin-right: 20px;
    padding-right: 5px;
}

#menutree ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menutree li {
    position: relative;
    padding-left: 15px;
}

#menutree ol:first-child > li {
    padding-left: 0px;
}

#menutree li a {
    display: block;
    color: #000;
    padding-left: 37px;
    background-image: url(/cms/assets/images/foldertree/folder-closed.png), url(/cms/assets/images/foldertree/toggle-small-expand.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 15px 1px, 0px 2px;
}

#menutree li a:hover, #menutree li a:link, #menutree li a:active, #menutree li a:visited {
    text-decoration: none;
}

#menutree li a.isparent {
    background-image: url(/cms/assets/images/foldertree/folder-open.png), url(/cms/assets/images/foldertree/toggle-small.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 15px 1px, 0px 2px;
}

#menutree li a.selected {
    font-weight: bold;
    background-color: #efefef;
}

#folderopts {
    display: none;
    border: solid 1px #000;
    position: absolute;
    background-color: #efefef;
    z-index: 20;
    box-shadow: 2px 2px 4px #ccc;
    padding: 10px;
    list-style: none;
}

#folderopts li a {
    display: block;
    padding: 2px 15px 2px 5px;
    color: #333;
    text-decoration: none;
    font-size: 9pt;
}

#folderopts li span {
    font-size: 9pt;
    margin-right: 5px;
}

#folderopts li a:hover {
    background: #ccc;
}

.inactive {
    color: #999 !important;
}